mixin music
    section
        header
            .wrapper.d-flex.align-items-center
                img(src="./img/logo.png" alt="MUSICON" class="music__logo")
                ul.music__menu.d-flex
                    li.music__item 
                        a(href="#" ) Main
                    li.music__item 
                        a(href="#" ) Your Style
                    li.music__item
                        a(href="#" ) Tracks
                    li.music__item 
                        a(href="#" ) Download
                .music__login.d-flex.align-items-center
                    .music__picture.d-flex.align-items-center.justify-content-center
                        img(src="./img/user.png" alt="Leonardo" class="music__user")
                    .music__profile
                        p Profile
                        h6 Leonardo
                    .music__icon.d-flex.align-items-center.justify-content-center
                        img(src="./img/music_icon.png" alt="music")
                    .music__play.d-flex
                        img(src="./img/more.png" alt="play")
        