.music {

    &__menu {
        margin-left: 235px;

        li:first-child {
            padding-right: 46px;
        }

        li:nth-child(2) {
            padding-right: 42px;
        }

        li:nth-child(3) {
            padding-right: 41px;
        }
    }
    
    &__item a {
        text-decoration: none;
        text-transform: uppercase;
        font-family: Montserrat;
        font-size: 13px;
        font-weight: 300;
        line-height: 71px;
        color: white;
    }

    &__item a:hover {
        color: #22dae5;
    }

    &__profile {
        margin-left: auto;
    }

    &__picture {
        width: 59px;
        height: 59px;
        border-radius: 50%;
        border: 1px solid rgba(255,255,255, 0.15);
    }


}