mixin music
    section
        header
            .wrapper.d-flex.align-items-center
                img(src="./img/logo.png" alt="MUSICON" class="music__logo")
                ul.music__menu.d-flex
                    li.music__item 
                        a(href="#" ) Main
                    li.music__item 
                        a(href="#" ) Your Style
                    li.music__item
                        a(href="#" ) Tracks
                    li.music__item 
                        a(href="#" ) Download
                .music__profile.d-flex.align-items-center
                    .music__picture.d-flex.align-items-center.justify-content-center
                        img(src="./img/user.png" alt="Leonardo" class="music__user")
        