mixin music
    section
        header
            .container.d-flex.align-items-center
                img(src="./img/logo.png" alt="MUSICON" class=".music__logo")
                ul.music__menu.d-flex
                    li.music__item 
                        a(href="#" ) Main
                    li.music__item 
                        a(href="#" ) Your Style
                    li.music__item
                        a(href="#" ) Tracks
                    li.music__item 
                        a(href="#" ) Download
        