.music {

    &__menu {
        margin-left: 235px;

        li:first-child {
            padding-right: 46px;
        }

        li:nth-child(2) {
            padding-right: 42px;
        }

        li:nth-child(3) {
            padding-right: 41px;
        }
    }
    
    &__item a {
        text-decoration: none;
        font-size: 13px;
        font-weight: 300;
        line-height: 71px;
        color: white;
    }

    &__item a:hover {
        color: #22dae5;
    }

    &__login {
        margin-left: auto;
    }

    &__picture {
        width: 59px;
        height: 59px;
        border-radius: 50%;
        border: 1px solid rgba(255,255,255, 0.15);
    }


    &__profile {
        margin-left: 18px;
    }

    &__profile p {
        font-size: 8px;
        font-weight: 400;
        line-height: 21px;
        opacity: 0.55;
    }

    &__profile h6 {
        font-size: 10px;
        font-weight: 400;
        
    }

    &__icon {
        width: 28px;
        height: 28px;
        margin-left: 22px;
        background-color: rgba(255,255,255, 0.03);
        border-radius: 50%;
    }

    &__play {
        margin-left: 15px;
    }

}